@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Indie+Flower&display=swap")

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/bouton.css");

@import url("components/banner.css");

@import url("components/card.css");

body {
	font-family:'Cardo', serif;
	font-size: 18px;
}

h1, h2, h3 {
	font-family:  'Indie Flower', cursive;
	font-weight: bold;
}

a {
	text-decoration: none;
}